*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.sec1{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/pic1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2{
    width: 100%;
    height: 87px;
    background: #FFF;
    box-shadow: 1px 1px 12px 0 rgba(51, 51, 51, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 150px;
}

.nav-sec2{
    width: 1146px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


.sec3{
    width: 100%;
    height: 415.99px;
    display: flex;
    justify-content: center;
    padding: 0 150px;
    margin-bottom: 74px;
}

.container-sec3{
    width: 1146px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 74px;
}

.container-row-sec3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cardsec3{
    display: flex;
    width: 360.99px;
    height: 133px;
    padding: 0 0 0 20px;
    align-items: flex-start;
    gap: 30px;
    flex-shrink: 0;
    border-radius: 6px;
    border-top: 1px solid rgba(231, 231, 231, 0.60);
    background: #FFF;
    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    flex-direction: row;        
    padding: 30px 20px;
}

.para-sec3-card{
    color: #1858A8;
    font-family: Inter;
    font-size: 20.8px;
    font-weight: 700;
    line-height: 26px; 
}

.card-big-sec4{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px ;
    padding: 50px 100px ;
}
.center-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}