.sec7-div{
    width: 246px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.sec7img{
    width: 154px;
    height: 51px;
}
.sec7-text{
    color: #333;
    font-size: 17.4px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.08px; /* 161.379% */
}